

.typo{
    font-Size: 14 ;
    color:textSecondary;
}



.button{ 
  
    width: 60px;
    height:30px;    
    background-color: #ec2fc3;    
    border-radius: 10px;    
      
}

/* home */

.card{
    width: 400px;
    height: 200px;
    background-image: url("../images/4.jpg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;
    
}

.card1{
    width: 400px;
    height: 200px;
    background-image: url("../images/41.jpeg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;
    
}

.card2{
    width: 400px;
    height: 200px;
    background-image: url("../images/15.jpg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;
    
}

/* about*/

.card-a{
    width: 600px;
    height: 300px;
    background-image: url("../images/19.webp");
    color: azure;
    border-radius: 10px;
    margin:25px ;
    margin-left:300px ;
    
}
.card1-a{
    width: 600px;
    height: 300px;
    background-image: url("../images/18.jpg");
    color: azure;
    border-radius: 10px;
    margin:25px ;
    margin-left:300px ;
    
}
.card2-a{
    width: 600px;
    height: 300px;
    background-image: url("../images/24.jpg");
    color: azure;
    border-radius: 10px;
    margin:25px ;
    margin-left:300px ;
}
.ctext{
    color:black;
}

/* students*/

.card-s{
    width: 700px;
    height: 350px;
    background-image: url("../images/5.jpg");
    color: azure;
    border-radius: 10px;
    margin:200px ;
    margin-left:300px ;
    font-size: 80px;
}

/* teachers */

.card-t{
    width: 700px;
    height: 350px;
    background-image: url("../images/25.jpg");
    color: azure;
    border-radius: 10px;
    margin:200px ;
    margin-left:300px ;
    font-size: 80px;
}

/* sponsors */

.card-sp{
    width: 700px;
    height: 350px;
    background-image: url("../images/26.jpg");
    color: azure;
    border-radius: 10px;
    margin:200px ;
    margin-left:300px ;
    font-size: 80px;
}

/* suser */

.card-su{
    width: 400px;
    height: 200px;
    background-image: url("../images/28.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
    
    
}

.card1-su{
    width: 400px;
    height: 200px;
    background-image: url("../images/29.jpg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
    
    
}

.card2-su{
    width: 400px;
    height: 200px;
    background-image: url("../images/30.jpeg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
    
    
}

.text-su{
    
    color:rgb(76, 7, 70);
}

.text-suh{
    
    color:rgb(76, 7, 70);
    padding-left:400px ;
    font-size: 40px;
}

/* home */
.text-suhh{
    
    color:rgb(76, 7, 70);
    padding-left:300px ;
    font-size: 40px;
    font-size: 30px;
}

.text-sut{
    
    color:rgb(35, 57, 203);
    font-size: 20px;
    padding-top:20px;
    padding-left:50px;
}


.text-sutc{
    
    color:rgb(193, 14, 115);
    font-size: 25px;
}

.wdts{
    padding-top: 100px;
}

/* studies */

.text-suht{
    
    color:rgb(76, 7, 70);
    padding-left:400px ;
    font-size: 40px;
}

.text-suhts{
    
    color:rgb(76, 7, 70);
    font-size: 40px;
}

/* tuser */

.card-tuser{
    width: 430px;
    height: 200px;
    background-image: url("../images/30.jpg");
    color: azure;
    border-radius: 10px;
    margin-left:50px ;

}

.text-tuser{
    
    color:rgb(76, 7, 70);
    font-size: 40px;
    padding-left: 200px;
}

/* spuser */

.image-spu{
    padding-left: 20px;
}

.text-sthink{
    
    color:rgb(76, 7, 70);
    font-size: 40px;
    padding-left: 50px;
}

/* thinks */

.card-thinks{
    width: 400px;
    height: 200px;
    background-image: url("../images/32.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks1{
    width: 400px;
    height: 200px;
    background-image: url("../images/33.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks2{
    width: 400px;
    height: 200px;
    background-image: url("../images/34.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks3{
    width: 400px;
    height: 200px;
    background-image: url("../images/35.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks4{
    width: 400px;
    height: 200px;
    background-image: url("../images/36.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks5{
    width: 400px;
    height: 200px;
    background-image: url("../images/37.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}


.card-thinks6{
    width: 400px;
    height: 200px;
    background-image: url("../images/39.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks7{
    width: 400px;
    height: 200px;
    background-image: url("../images/38.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}

.card-thinks8{
    width: 400px;
    height: 200px;
    background-image: url("../images/40.jpg");
    color: rgb(154, 82, 19);
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 20px;
}