.wdt{    
    width: 80% !important;
    padding-bottom: 0px !important;    
    padding-top: 20px !important;    
  padding-left: 90px !important;    
  padding-right: 150px !important;     
}    
.img    
{    
    height: 600px !important;    
    width: 1134px;    
}    
    
.imgdetails    
{    
    height: 500px !important;    
    width: 900px !important;    
    
}    
    
.imgpad    
{    
    padding-bottom: 0px !important;    
    padding-top: 0px !important;    
  padding-left: 300px !important;    
  padding-right: 250px !important;    
    
}    
  .cls    
  {    
    padding-right: 3px !important; 
    background-color: blue    
  }    